/* decendent selector
.outer p{
    background-color: brown;
}

child slector
.outer > p{
    background-color: gold;
} */

/* adjacent sibilings selector */
.outer{
    border:2px solid red;
}

/* h1 ~ p{
    background-color: blue;
} */